Repository cms-sw/cms-docker, pull requests merged in 2024-01, with the labels that each got.

#251 Use BASE_UPSTREAM_CHECKSUM to keep track of the original base image checksum
  bin/docker-images-has-changed.py
  bin/get_image_config.py
Labels: orp-pending, pending-signatures, externals-pending, tests-pending

#239 Add `/scratch` dir in el8 and el9 images
  el8/Dockerfile.runtime
  el9/Dockerfile.runtime
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el8, el9

#238 Add tmux pkg to el8 and el9 images as user pkg
  el8/Changelog.md
  el8/Dockerfile
  el9/Changelog.md
  el9/Dockerfile
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el8, el9

#255 [cc7] Install man-db package to make sure man command is available in ontainer
  cc7/Dockerfile
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, cc7

#257 [alma8] Add rpm command to dump information about the packages in the container
  alma8/Dockerfile
  alma8/config.yaml
  bin/get_image_config.py
  bin/rpm-pkg-info.sh
  share/ca-bundle.crt
  share/fix_ssh_config.sh
  share/krb5.conf
Labels: orp-pending, pending-signatures, externals-pending, tests-pending

#260 [cs9] Add rpm command to dump information about the packages in the container
  cs9/Dockerfile
  cs9/ca-bundle.crt
  cs9/config.yaml
  cs9/fix_ssh_config.sh
  cs9/krb5.conf
Labels: orp-pending, fully-signed, externals-approved, tests-pending, cs9

#262 [rocky8] Add rpm command to dump information about the packages in the container
  rocky8/Dockerfile
  rocky8/ca-bundle.crt
  rocky8/config.yaml
  rocky8/fix_ssh_config.sh
  rocky8/krb5.conf
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, rocky8

#261 [el8][el9] Factor out rpm command to dump information about the packages in the container
  el8/Dockerfile
  el8/Dockerfile.grid
  el8/Dockerfile.runtime
  el8/config.yaml
  el8/fix_ssh_config.sh
  el8/krb5.conf
  el9/Dockerfile
  el9/Dockerfile.grid
  el9/Dockerfile.runtime
  el9/RPM-GPG-KEY-kojiv2
  el9/config.yaml
  el9/fix_ssh_config.sh
  el9/krb5.conf
  share/RPM-GPG-KEY-kojiv2
  share/el8-CERN.repo
  share/el9-CERN.repo
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el8, el9
