Repository cms-sw/cms-docker, pull requests merged in 2024-06, with the labels that each got.

#294 [el9] install jq
  el9/Dockerfile
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el9

#298 [el9] Dump package information outside the container
  el9/Dockerfile
  el9/Dockerfile.grid
  el9/Dockerfile.runtime
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el9

#311 Updated el8 and el9 tags for cms images
  cms/tags.yaml
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, cms

#310 [el9] update-crypto-policies to allow SHA1
  el9/Dockerfile.runtime
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el9

#314 Fix bin/docker_sync.py
  bin/docker_sync.py
Labels: orp-pending, pending-signatures, externals-pending, tests-pending

#315 Disable ppc64le container images
  alma8/config.yaml
  cc7/config.yaml
  cc8/config.yaml
  cs8/config.yaml
  el8/config.yaml
  ubi8/config.yaml
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el8, cc7, alma8, ubi8, cs8, cc8
