Repository cms-sw/cms-docker, pull requests merged in 2024-05, with the labels that each got.

#302 [rocky8] Dump package information outside the container
  rocky8/Dockerfile
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, rocky8

#301 [alma8] Dump package information outside the container
  alma8/Dockerfile
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, alma8

#300 [ubi8] Dump package information outside the container
  ubi8/Dockerfile
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, ubi8

#299 [el8] Dump package information outside the container
  el8/Dockerfile
  el8/Dockerfile.grid
  el8/Dockerfile.runtime
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el8

#295 [el8] install jq
  el8/Dockerfile
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el8

#304 Install java-17-openjdk in el8 and el9 containers
  el8/Dockerfile
  el9/Dockerfile
Labels: orp-pending, pending-signatures, externals-pending, tests-pending, el8, el9
